/* shared style */
* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* header style */
.header {
    display: flex;
    gap: 100px;
    align-items: center;
    background-color: rgb(255, 250, 196);
}

.header img {
    width: 400px;
    padding-right: 200px;
    padding-top: 30px;
}

.header-section {
    width: 50%;
    padding-left: 200px;

}

.header-title {
    color: #272727;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* main section */
main {
    /* width: 1140px; */
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.feature-flower {
    text-align: center;
}

.feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.feature-container img {
    width: 200px;
    padding: 50px 50px 0px 50px;
    justify-content: center;
    margin-bottom: 30px;
}

#pink {
    border-radius: 300px 300px 0px 0px;
    background-color: rgb(255, 240, 196);
}

#purple {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

#yellow {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.feature-column {
    margin-top: 20px;
}

.feature-column p {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}

.feature-title {
    color: #272727;
    font-weight: 800;
    font-size: 40px;
}

/* sign up style */
.sign-up-container img {
    width: 250px;
    padding-right: 150px;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 200px;
    background-color: rgba(243, 0, 53, 0.1);


}

.sign-up-info {
    width: 50%;
    padding: 100px 80px;
}

.sign-up-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.sign-up-title span {
    color: #E55473;
}

.sign-up-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 24px;
}

/* instagram */
.insta-section {
    text-align: center;

}

.insta-title {
    color: #272727;
    font-weight: 800;
    font-size: 40px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}

.insta-img img {
    margin-top: 40px;
    margin-right: 24px;
    margin-bottom: 130px;
    width: 250px;
}

/* subscribe style */
.subscribe-info {
    text-align: center;
    background-image: url('../images/Rectangle\ 9.png');
    width: 1140px;
    padding: 60px;
    border-radius: 8px;
    margin: 0 auto;
}

.subscribe-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}